[Unit]
Description=spleen-server

[Service]
TimeoutStartSec=0
ExecStart=/root/spleen/spleen-server -c /root/spleen/.server.json
Restart=always

[Install]
WantedBy=multi-user.target
